.Form{
    background-color:white;
    display: inline-block;
    min-width: 50%;
    min-height: 400px;
    max-width: 50%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    margin-right: 13%;
    padding: 15px;
    margin-top: 50px;
}
.DIV{
    text-align: right;
}
.Titel{
    margin:0;
    text-align:left ;
}
.Name{
    margin:0;
    margin-top: 8px;
    font-size:20px;
    text-align: left;
}
.City{
    margin:0;
    margin-top: 8px;
    font-size:20px;
    text-align: left;
}
.Text{
    margin:0;
    margin-top: 10px;
    font-size:18px;
    text-align: left;
    white-space: normal;
}
.Contribute{
    margin :0;
    background-color: white;
    display: inline;
    text-align:right;
    padding: 3px;
    border-radius:7px;
    border:none;
    outline: none;
    width: 5%;
    box-shadow: none;
}
.Contribute:hover{
    background-color:rgba(50, 205, 50, 0.5); 
}