.PostInput li{
    list-style:none;
    margin-bottom: 5%;

}
.PostInput h1{
    text-align: center;
    color:block;
}
.PostText{
    height: 200px;
    resize: none;
    width: 99%;
    border-radius:4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    border: none;
    outline: none;
}
.PostShort{
    width: 97%;
    border-radius:4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    border: none;
    outline: none;
    padding:5px;
}
.PostButton{
    text-align: center;
    width: 100%;
    padding:10px;
    border:none;
    outline: none;
    border-radius:4px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: rgb(146, 141, 141);
}
.PostCity{
    width: 97%;
    border-radius:4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    border: none;
    outline: none;
    padding:5px;
    margin-bottom: 8%;
}
.PostButton:hover{
    background-color:rgb(73, 69, 69);
    font-weight: 800;
}
.PostButton:disabled{
    background-color:rgb(190, 130, 130)
}
.Error{
    color:red;
    background-color:rgb(253,135,135,0.5);
    font-weight: 800;
    padding: 3px;
    border-radius: 5px;
    font-size: 14px;
    text-align:center;
    margin: 0;
}
.Success{
    color: green;
    background-color:rgb(119,255,133,0.5);
    font-weight: 800;
    padding: 3px;
    border-radius: 5px;
    font-size: 14px;
    text-align:center;
    margin: 0;
}