.Sidebar {
    height: 100%;
    margin-top: 0;
    width: 20%;
    background-color: white;
    box-shadow: 8px 0 5px -5px rgba(0, 0, 0, 0.5);
    position: fixed;
    margin: 0;

}
.Form{
    padding: 10px;
    background: rgba(217,217,217,0.5);
    height: 45%;
}
.News{
    padding: 5px;
    background: rgba(217,217,217,0.5);
    height: 55%;
}